body{
  margin: 0;
  padding: 0;
}

body,html{
  overflow-x: hidden;
}

#info{
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  display: block;
  color: white;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* ------------------- */

/* Style the button container */
.button-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column; /* Display buttons vertically */
}

/* Common styles for square buttons */
.square-button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; /* Add spacing between buttons */
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 70%; /* Adjust the width and height as needed */
}


/* Style the button text */
.button-text {
  color: black; /* Text color is black */
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square-button:hover {
  background-color: #ffffff; /* Full white on hover */
  opacity: 1; /* Make fully opaque on hover */
}

/* Selected effect (you can use a class like .selected-button to apply this) */
.square-button.selected {
  background-color: #ffffff; /* Full white on hover */
  opacity: 1; /* Make fully opaque on hover */
}


#coins {
  width: 200px;
  height: 80px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; /* Add spacing between buttons */
  background-color: rgba(255, 255, 255, 0);
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center vertically within the div */

}

#coins img.coinIcon {

  height: 80%;
}

.coin-text {
  flex-grow: 1; /* Allow the text to grow and take available space */
  text-align: left; /* Align the text to the right */
  margin-right: 10px; /* Add some space between the image and text */
  font-size: xx-large;
  font-family:fantasy;
  color: gold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}